/* 👇👇👇 SCROLL DOWN TO THE "ADD YOUR FORM STYLES BENEATH" comment (line 25) 👇👇👇*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.content {
  padding: 30px;
  display: flex;
  flex-direction: row;
}

h2 {
  text-transform: uppercase;
}

p {
  font-weight: bold;
}

/* 👇👇👇  ADD YOUR FORM STYLES BENEATH  👇👇👇*/

form {
  border: 1px solid #a9a9a9;
  padding: 20px;
}

.subtext {
  color: #a9a9a9;
  font-weight: unset;
  margin-top: 5px;
}

#sign-in,
#sign-up {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 0 10px;
}

#sign-in-form, 
#sign-up-form {
  padding: 15px 25px 0 25px;
}

#sign-in-form > div,
#sign-up-form > div {
  padding: 10px 0;
}

#sign-in-form > hr,
#sign-up-form > hr {
  margin: 25px 0 0 0;
}


.form-submit-control {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.form-group-horizontal-control {
    display: flex;
    justify-content: space-between;
}

.form-group-horizontal-control > .form-input-control {
  display: flex;
  flex-direction: column;
  width: 48%;
}

#state, 
#city {
  padding: 5px 0;
}

a {
  color: #335eea;
  text-decoration: none;
}

label {
  font-weight: bold;
  margin-bottom: 10px;
}

input {
  width: 100%;
  height: 30px;
  padding: 5px;
  margin-top: 5px;
}

input[type="checkbox"],
input[type="radio"] {
  width: max-content;
  height: max-content;
  padding: 0;
}

input[type="submit"] {
  width: unset;
  height: unset;
  padding: 14px 20px;
  background: #335eea;
  color: white;
  font-size: 18px;
  border: 1px solid #335eea;
  border-radius: 8px;
  appearance: none;
  outline: none;
  clear: left;
  cursor: pointer;
  margin: 0 25px;
}

input[type="submit"]:hover {
  background: #294bbb;
}

.form select {
  height: 30px;
}
